[Desktop Entry]
Encoding=UTF-8
Name=Lks
Comment=Lks P2P Cryptocurrency
Comment[fr]=Lks, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Lks, eşten eşe kriptografik sanal para birimi
Exec=lks-qt %u
Terminal=false
Type=Application
Icon=lks128
MimeType=x-scheme-handler/lks;
Categories=Office;Finance;
